/* MAIN BACKGROUND */
.invoice-container {
  min-height: 100vh;
  width: 100%;
  background: url("../../assets/hardware5.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 20px;
}

.invoice-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  pointer-events: none;
}

/* INVOICE CARD */
.invoice-card {
  position: relative;
  z-index: 2;
  width: 850px;
  background: white;
  color: #000;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

/* HEADER */
.invoice-card h1 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 28px;
}

.invoice-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #555;
}

.invoice-card p {
  margin: 5px 0;
}

/* TABLE */
.invoice-card table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.invoice-card th,
.invoice-card td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

.invoice-card th {
  background: #f2f2f2;
}

/* TOTAL */
.invoice-card h3 {
  text-align: right;
  margin-top: 20px;
  font-size: 20px;
}

/* PRINT BUTTON */
.invoice-card button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ffca28;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.invoice-card button:hover {
  background: #e0eb19;
}

/* PRINT MODE */
@media print {
  body * {
    visibility: hidden;
  }

  .invoice-card,
  .invoice-card * {
    visibility: visible;
  }

  .invoice-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }

  .invoice-card button {
    display: none;
  }
}

.invoice-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.print-btn {
  padding: 10px 20px;
  border: none;
  background: #00bcd4;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.done-btn {
  padding: 10px 20px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.done-btn:hover {
  background: #388e3c;
}

.invoice-summary{
  margin-top:20px;
  border-top:2px solid #000;
  padding-top:10px;
}

.summary-row{
  display:flex;
  justify-content:space-between;
  padding:6px 0;
  font-size:16px;
}

.discount-row{
  color:#d32f2f;
  font-weight:bold;
}

.final-total{
  font-size:20px;
  font-weight:bold;
  border-top:1px solid #000;
  margin-top:8px;
  padding-top:8px;
}

.invoice-promotions h3{
  margin-top:10px;
  font-size:16px;
}