/* Background */
.add-category-container {
  height: 100vh;
  width: 100vw;
  background: url("../assets/hardware5.jpeg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-category-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
}



.add-category-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Form */
.add-category-form input,
.add-category-form textarea {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 18px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  background: rgba(255,255,255,0.15);
  color: white;
}

.add-category-form textarea {
  resize: none;
  height: 100px;
}

/* Submit Button */
.add-category-btn {
  width: 100%;
  padding: 14px;
  background-color: #ffca28;
  color: #000;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.add-category-btn:hover {
  background-color: #ffc107;
  transform: scale(1.03);
}
